.countdown {
    font-family: 'Lato' Verdana;
    font-size: 120px;
    text-align: center;
    position: absolute;
    width: 500px;
    height: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
